// Font Family
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap");
// Colors
:root {
  --main-font-color: #ffffff;
  --accent-color: #838391;
  --main-background-color: #070724;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6d2ed5;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec1a2;
  --neptune: #2d68f0;
}

// Global Resets
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--main-font-color);
  min-height: 100vh;
  min-width: 100vh;
  background-color: var(--main-background-color);
  background-image: url("../assets/background-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
